<!-- components/transposebutton2.html -->

<div class="transposebutton">
  <div>
    <label class="toggle-container">
      <input type="checkbox" id="toggleLyrics" />
      <span class="toggle-slider"></span>
    </label>
  </div>
  <button class="button" data-target="#onC">C</button>
  <button class="button" data-target="#onC#">C#</button>
  <button class="button" data-target="#onD">D</button>
  <button class="button" data-target="#onD#">D#</button>
  <button class="button" data-target="#onE">E</button>
  <button class="button" data-target="#onF">F</button>
  <button class="button" data-target="#onF#">F#</button>
  <button class="button" data-target="#onG">G</button>
  <button class="button" data-target="#onG#">G#</button>
  <button class="button" data-target="#onA">A</button>
  <button class="button" data-target="#onBb">Bb</button>
  <button class="button" data-target="#onB">B</button>
</div>
