body {
  /* background-image: url(Image/background2.png);
  height: 200vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #f8f6f0 rgb(248, 246, 240);
  margin: 0;
  padding: 0;
}
.chords {
  display: block;
  font-family: monospace;
  white-space: pre;
  font-weight: bold;
  margin: 1em 0;
  font-size: 2.5vw;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
}
.tabs {
  display: block;
  font-family: monospace;
  white-space: pre;
  font-weight: bold;
  margin: 1em 0;
  font-size: 1.9vw;
  padding-left: 1.5vw;
}
h4 {
  text-align: center;
  color: rgb(255, 0, 0);
  text-decoration: underline;
  font-size: 3vw;
}
.transposebutton {
  text-align: center;
  font-size: 3vw;
}
.lyrics {
  display: none;
  font-family: 'Times New Roman', Times, serif;
  font-size: 2.5vw;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  max-width: 100%;
  width: 80vw;
  height: auto;
  background-color: rgba(255, 255, 255, 1);
  color: #000;
  border-style: solid;
  border-radius: 10px;
}
/* 
========================visibility button===================== */
.toggle-container {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 30px;
  margin: 0 10px;
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.toggle-slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .toggle-slider {
  background-color: #2196f3;
}

input:focus + .toggle-slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .toggle-slider:before {
  transform: translateX(26px);
}

/* Hide default HTML checkbox */
input[type='checkbox'] {
  display: none;
}
